body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.maintenance-container {
    padding: 30px;
    border-radius: 15px;
    background-color: #1e1e1e;
    max-width: 500px;
    width: 90%;
    animation: fadeIn 1s ease-out;
}

.maintenance-icon {
    font-size: 80px;
    color: #A9D3FB;
    animation: bounce 2s infinite ease-in-out;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 600;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 25px; 
    color: #bbb;
}

.home-button {
    display: inline-block; 
    padding: 10px 10px;
    margin-top: 10px; 
    background-color: #A4CDF3; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 50px; 
    font-weight: 600;
    font-size: 1em;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.home-button:active {
    background-color: #94CDF3;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }
    p {
        font-size: 1em;
    }
    .maintenance-icon {
        font-size: 75px;
    }
    .home-button {
        padding: 10px 30px;
        font-size: 1.1em;
    }
}